<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PreReg</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>studentlogin</display-name>
    <servlet-name>studentloginservlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentloginservlet</servlet-name>
    <url-pattern>/slogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateVideoInfo</display-name>
    <servlet-name>updatevidinfoservlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.UpdateVideoInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatevidinfoservlet</servlet-name>
    <url-pattern>/updateVidInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckAnswer</display-name>
    <servlet-name>checkanswerservlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.CheckAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkanswerservlet</servlet-name>
    <url-pattern>/checkanswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PanelUpdate</display-name>
    <servlet-name>completePanelUpdateServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.CompletePanelUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>completePanelUpdateServlet</servlet-name>
    <url-pattern>/completePanelUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CompletedPanelNo</display-name>
    <servlet-name>getCompletedPanelNoServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.GetCompletedPanelNoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCompletedPanelNoServlet</servlet-name>
    <url-pattern>/getCompletedPanelNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>panelStarttime</display-name>
    <servlet-name>panelstartTimeServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.PanelStartTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>panelstartTimeServlet</servlet-name>
    <url-pattern>/panelStartTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getQuizscore</display-name>
    <servlet-name>getquizscoreServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.GetQuizScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getquizscoreServlet</servlet-name>
    <url-pattern>/getQuizScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdvisorServlet</display-name>
    <servlet-name>advisorsrchServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.AdvisorSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorsrchServlet</servlet-name>
    <url-pattern>/advSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>regappDateServlet</display-name>
    <servlet-name>regAppDateServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.RegAppDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regAppDateServlet</servlet-name>
    <url-pattern>/regappDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>onLoadgetServlet</display-name>
    <servlet-name>onloadgetServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.OnLoadGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onloadgetServlet</servlet-name>
    <url-pattern>/onloadGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>logOutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>nyuClickServlet</display-name>
    <servlet-name>nyuclickServlet</servlet-name>
    <servlet-class>com.fitlAAC.servlets.NYUClassClickServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nyuclickServlet</servlet-name>
    <url-pattern>/nyuclick</url-pattern>
  </servlet-mapping>
</web-app>