
	.litebox-overlay {
		display: none;
		width: 100%;
		min-width: 280px;
		text-align: bottom;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}

	@-webkit-keyframes liteboxLoader {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@-moz-keyframes liteboxLoader {
		0% { -moz-transform: rotate(0deg); }
		100% { -moz-transform: rotate(360deg); }
	}

	@-ms-keyframes liteboxLoader {
		0% { -ms-transform: rotate(0deg); }
		100% { -ms-transform: rotate(360deg); }
	}

	@-o-keyframes liteboxLoader {
		0% { -o-transform: rotate(0deg); }
		100% { -o-transform: rotate(360deg); }
	}

	@keyframes liteboxLoader {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	.litebox-overlay .litebox-loader {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 20px;
		top: 20px;
		border: 3px solid #111;
		border-right-color: #fff;
		border-radius: 50%;
		-webkit-animation: liteboxLoader 1s linear infinite;
		-moz-animation: liteboxLoader 1s linear infinite;
		-ms-animation: liteboxLoader 1s linear infinite;
		-o-animation: liteboxLoader 1s linear infinite;
		animation: liteboxLoader 1s linear infinite;
	}

	.litebox-overlay .litebox-close {
		width: 40px;
		height: 40px;
		background: url('../imgs/litebox-close.png') no-repeat center;
		opacity: .7;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.litebox-overlay .litebox-close:hover {
		opacity: 1;
		cursor: pointer;
	}

	.litebox-overlay .litebox-nav {
		display: none;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		opacity: .2;
		position: absolute;
		top: 50%;
	}

	.litebox-overlay .litebox-nav:hover {
		opacity: .5;
		cursor: pointer;
	}

	.litebox-overlay .litebox-prev {
		background: url('../imgs/litebox-prev.png') no-repeat center;
		left: 20px;
	}

	.litebox-overlay .litebox-next {
		background: url('../imgs/litebox-next.png') no-repeat center;
		right: 20px;
	}

	.litebox-overlay .litebox-container {
		position: absolute;
		width: 840px;
		top: 15%;
		right: 19%;
		bottom: 15%;
		left: 19%;
		overflow: hidden;
	}

	.litebox-overlay .litebox-container.litebox-scroll {
		overflow-y: auto;
	}

	.litebox-overlay img,
	.litebox-overlay iframe {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		vertical-align: middle;
		overflow-x: hidden;
	}

	.litebox-overlay iframe {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 999999;
	}

	.litebox-overlay .litebox-inline-html {
		width: 100%;
		background: #FFF;
		line-height: normal;
		overflow-x: hidden;
		line-height: normal !important;
		position: absolute;
	}

	.litebox-overlay .litebox-error {
		
		color: #FFF;
		text-align: center;
		postion: absolute;
		bottom: 0;
		left:0;
		
		
	}
	
		
		
		
	

	.litebox-overlay .litebox-error span {
		
		position: absolute;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: #FFF;
		font: 'PT Sans';
		font-size: 24px;
		left: 19%;
		top: 10%;
		
	}	
	
	.litebox-overlay .litebox-error span1 {
		
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: #FFF;
		position: absolute;
		left: 19%;
		width: 800px;
		font: 'Open Sans';
		font-size: 14px;
		bottom: 6%;
		text-align:left;
	}	
	
	