html, body {
 }

body {
  background: #ffffff;
  overflow: hidden; }

footer {
  position: absolute;
  width: 100%;
  background: #ffffff;
  bottom: 0px;
  z-index: 999;
  cursor: pointer;
  min-height: 8px;
   }
  footer.active {
    cursor: default; }

#logo {
  position: absolute;
  z-index: 1000;
  left: 20px; }
  #logo img {
    position: absolute;
    top: 0; }
    #logo img.logo-white {
      left: 1px;
      display: none; }

.nav {
  position: absolute;
  width: 88px;
  height: 88px;
  background: #663399;
  color: white;
  line-height: 88px;
  font-family: "WWFRegular";
  font-size: 24px;
  cursor: pointer;
  margin-top: -44px;
  top: 50%;
  z-index: 200; }
  .nav .inner {
    position: absolute;
    width: 88px;
    height: 88px;
    text-align: center;
    z-index: 200; }

#next {
  right: 0; }
  #next .inner {
    top: 0;
    left: 0; }

#prev {
  left: 0;
  display: none; }
  #prev .inner {
    top: 0;
    right: 0; }




#main {
	padding-top:40px;
   }


.section {
  width: 850px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  display: none; }
  .section h2 {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 40px;
    color: #663399;
    line-height: 50px;
    width: 900px;
    position: absolute;
    top: -20px;
    right: 0; }


.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 850px;
  height: 450px; }

.canvas {
  position: center; }

.section-0 {
  text-align: center; }
  .section-0 p {
    font-family: "WWFRegular";
    margin: 0;
    padding: 0; }
    .section-0 p.line-1 {
      color: #663399;
      font-size: 70px;
	  text-align:center;
      line-height: 70px; }
    .section-0 p.line-2 {
      color: #663399;
	  text-align:center;
      font-size: 62px;
      line-height: 63px; }
    .section-0 p.line-3 {
      color: #81d2cb;
      font-size: 63px;
      line-height: 63px; }
      .section-0 p.line-3 img {
        padding-left: 10px; }
  .section-0 .home-food-image {
    padding-top: 80px;
    padding-bottom: 20px; }
  	  
.section-1 .background {
  background: url(../img/) no-repeat center 115px; }
.section-1 .forest {
  background: url(../img/s1-forest) no-repeat 60px 158px; }
.section-1 #canvas-1-sun {
  z-index: -1; }
  
  .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.section-2 h2 {
  width: 920px; }
.section-2 .background {
   }
.section-2 .forest {
 
  right: 0;
  left: auto; }
.section-2 .farm {
  
  width: 0; }

.section-3 h2 {
  padding-right: 80px;
  width: 980px; }
.section-3 .earth {
  
  z-index: -1;
  top: 340px; }
.section-3 .co2 {
  background: url(../img/s3-co2) no-repeat center center;
  z-index: -2;
  top: 240px; }
.section-3 #canvas-3-food {
  z-index: -1; }

.section-4 h2 {
  width: 900px; }
.section-4 .person1 {
  }
.section-4 .person2 {
  }

.section-5 h2 {
  width: 820px;
  position: absolute;
  left: 70px; }
.section-5 #canvas-5-food {
  left: 469px;
  top: 100px; }
.section-5 .people {
   }
.section-5 .bin {
  
   }
.section-5 .money {
  font-family: "WWFRegular";
  font-weight: normal;
  font-size: 50px;
  color: #663399;
  line-height: 50px;
  width: 700px;
  left: 600px;
  top: 240px;
  margin-top: 80px; }
  .section-5 .money .line {
    background: #d2e17d;
    height: 3px;
    width: 30px;
    position: absolute;
    left: -40px;
    top: 23px; }

.section-6 h2 {
  width: auto;
  margin-right: 200px; }
.section-6 .money .pound {
  position: absolute;
  left: 17px;
  width: 40px;
  height: 100px;
  background: white;
  text-align: left;
  z-index: 100; }
.section-6 .money .inner {
  height: 100px;
  width: 40px;
  background: white;
  border: solid 15px #b0dedc;
  margin: 0 auto;
  margin-top: 150px;
  position: relative;
  padding: 10px 20px 10px 50px;
  font-family: "WWFRegular";
  font-weight: normal;
  font-size: 80px;
  color: #663399;
  line-height: 100px;
  text-align: center; }
.section-6 .money .right-hand {
  width: 120px;
  height: 100px;
  position: absolute;
  background: url(../img/s6-hand-right) no-repeat right center;
  right: -120px; }
.section-6 .money .left-hand {
  width: 120px;
  height: 100px;
  position: absolute;
  background: url(../img/s6-hand-left) no-repeat left center;
  left: -120px; }
.section-6 .money .wrapper {
  position: absolute;
  overflow: hidden;
  width: 40px;
  height: 100%; }
.section-6 .money .slide {
  width: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -246px; }

.section-7 h2 {
  width: 750px; }
.section-7 .main {
  background: url(../img/s7-main) no-repeat center 135px; }

#preloader {
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
  z-index: 800;
  font-family: "WWFRegular";
  font-size: 80px;
  color: #f2eed1;
  display: none; }
  /**
 * Simple fade transition,
 */

 .panel1pagetitle 
 {
 	height:110px;
 	width:420px;
 	font: 'PT Sans' bold;
 	font-size: 26px;
 	color: #51443e;
 	text-align: left;
 	float: left;
 	position: absolute;
 	display: block;
 } 
 .panel1pagetitle span{
 	font: 'PT Sans' bold;
 	font-size: 16px;
 	color: #455462;
 	text-align: left;
 }
 #tools{
 	width: 420px;
 	height: 110px;
 	text-align: left;
 	float: left;
 	position: absolute;
 	display: block;
 	padding-left: 420px;
 }
 .panel1tools{
 }
 #missiontable{
	height: 110px;
	width:121px;
	position: absolute;
	display: block;
	z-index:10; 
 }
 .missiontable1{
	background-image: url(image/general/statusbar/bg.png);
	float: right;
	padding-left: 178px;
 }
 .missiontable thead{
 	font: 'PT Sans' Bold;
 	font-size: 18px;
 	color: #51443e;
 	text-align: center;
 }
 .missiontable tbody{
 	vertical-align: middle;
 }
 .scoretable{
	background-image: url(image/general/statusbar/bg.png);
	height: 110px;
	width:121px;
	float: right;
	position: absolute;
	display: block;
	padding-left: 299px;
	z-index:9;
 }
 .scoretable thead{
 	font: 'PT Sans' Bold;
 	font-size: 18px;
 	color: #51443e;
 	text-align: center;
 }
 .scoretable tbody{
 	font: 'Open Sans';
 	font-size: 46px;
 	color: #e87e08;
 	text-align: center;
 }
 
 .panel1mission{
 	height: 334px;
 	width: 420px;
 	position: absolute;
 	display: block;
 	padding-top: 166px;
 	background-position: bottom;
 	background-repeat: no-repeat; 
 	background-image: url(image/mainpanels/Panel_1/bg1_02.png);
 	z-index:100;
 }
 .panel1mission2{
 	padding-left: 196px;
 }
 .panel1mission3{
 	padding-top: 120px;
 }
	
 .panel1animate{
 hieght: 399px;
 width: 375px;
 float: right;
 position: absolute;
 display: block;
 padding-top: 110px;
 padding-left: 420px;
 }
 .panel1animate1{
 padding-top:56px;
 position: absolute;
 z-index:10;
 }
 .panel1animate2{
 padding-top:36px;
 padding-left: 227px;
 position: absolute;
 z-index:9;
 }
 .panel1animate3{
 padding-top:155px;
 padding-left: 35px;
 position: absolute;
 z-index:8;
 }
 	.copyright{
		position: relative;
	}
	.copyrighttext{
		padding-top: 35px;
		font-family: 'PT Sans';
		font-size: 11px;
		color: #8697a6;
		text-align: center;
	}
	.nyulogo{
		position: relative;
		float: right;
		padding-right: 92px;
	}
 
}